@model Aula04Out24.Models.Nutrientes
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cadastro de Nutrientes</title>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
          integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    <link rel="icon" href="~/IMG/Index/Logo.jpg"/>
    <link rel="stylesheet" href="~/Content/CadastroNutrientes.css"/>
    <!-- Toastr CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />

    <!-- Toastr JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script>
        $(document).ready(function () {
            @if (ViewBag.ToastrMessage != null)
            {
                <text>
                    toastr["@ViewBag.ToastrType"]("@ViewBag.ToastrMessage");
                </text>
            }
        });
    </script>
</head>

<body>
    <div class="bg"></div>
    <header>
        <a href=@Url.Action("PaineLControle") target="_blank">
            <img class="logo" src="~/IMG/Index/Logo M Mania 2.png"/>
        </a>

        <div class="header__wrapper">
            <i class="fa-solid fa-user"></i>
            <!-- Colocar lógica para mostrar nome do usuário -->
            <p class="header__p" id="usuario">@ViewBag.NomeUsuario</p>
        </div>
    </header>

    <main>
        <div class="main__container">
            <div class="main__conteudo">
                <div class="conteudo__wrapper">
                    <div class="main__h1">
                        <button class="button__voltar">
                            <!--Botão voltar funfando dahora-->
                            <a href=@Url.Action("ControleProducao")>
                                <i class="fa-solid fa-arrow-left"></i>
                            </a>
                        </button>
                        <h1><span class="underline">Cadas</span>tro de Nutrientes</h1>
                    </div>
                    @using (Html.BeginForm("CadastroNutrientes", "Home", FormMethod.Post)) {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="input__box">
                            <div class="input__wrapper">
                                <div class="wrapper">
                                    @Html.LabelFor(model => model.Nome, "Nome *", new { @class = "input__label" })
                                    @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "input", @placeholder = "Insira o nome" } })
                                    @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
                                </div>

                                <div class="wrapper wrapper-estoque">
                                    @Html.LabelFor(model => model.Quantidade, "Quantidade *", new { @class = "input__label" })
                                    @Html.EditorFor(model => model.Quantidade, new { htmlAttributes = new { @class = "input", @placeholder = "Quantidade" } })
                                    @Html.ValidationMessageFor(model => model.Quantidade, "", new { @class = "text-danger" })
                                </div>

                                <div class="wrapper wrapper-validade">
                                    @Html.LabelFor(model => model.Validade, "Validade *", new { @class = "input__label" })
                                    @Html.EditorFor(model => model.Validade, new { htmlAttributes = new { @class = "input", @type = "date" } })
                                    @Html.ValidationMessageFor(model => model.Validade, "", new { @class = "text-danger" })
                                </div>

                                <div class="wrapper wrapper-descricao">
                                    @Html.LabelFor(model => model.Descricao, "Descrição *", new { @class = "input__label" })
                                    @Html.EditorFor(model => model.Descricao, new { htmlAttributes = new { @class = "input", @placeholder = "Descreva o tipo de nutriente" } })
                                    @Html.ValidationMessageFor(model => model.Descricao, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="container__button">
                                <button type="submit" class="main__button button__enviar">
                                    Cadastrar
                                </button>
                                <button type="reset" class="main__button button__limpar">
                                    Limpar dados
                                </button>
                            </div>
                        </div>
                    }
                </div>
                <div class="main__icone">
                    <img class="icone"
                         src="~/Icon/icone-nutrientes.png"
                         alt="icone" />
                </div>
            </div>
        </div>
    </main>
</body>
</html>
